* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  /* background: linear-gradient(-45deg, #a6f4e5 0%, #23e6bf 47%); */
  /* background-color: rgb(44, 75, 255); */
  background-color: #fff;
  color: #1A2634;
  text-align: center;
}

body,
input,
button {
  font-size: 1em;
}

p {
  margin: 2em 0;
}

ol {
  text-align: left;
}

li {
  margin: 0.5em 0;
}

.hidden {
  display: none;
}

header {
  background-color: #fff;
}

.logo {
  width: 100%;
  max-width: 310px;
  max-height: 120px;
  padding: 1em 0;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 1em;
  margin: 0 auto;
}
.view button:last-child {
  margin-bottom: 0;
}

.buzzer-mode {
  background-color: rgb(255 255 255)
  color: rgb(243, 175, 185);
}

input[type="text"],
input[type="number"],
button {
  display: block;
  padding: 0.8em 1.4em;
  margin: 1em 0;
  width: 100%;
  border-radius: 5px;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #B8B8B8;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="text"]:active,
input[type="number"]:active {
  border-color: #2c4bff;
  box-shadow: 0 0 0 3px #ABB7FF;
  outline: none;
}

button {
  padding: 1.4em 1.4em;
  font-size: 1.2em;
  background-color: #161D99;
  color: #fff;
  cursor: pointer;
  border: 0;
}

button:hover {
  background-color: rgb(22, 29, 153);
}

button:active {
  box-shadow: rgb(171, 183, 255) 0px 0px 0px 3px;
  outline: 0px;
  transform: translateY(  1px);
}
button:focus {
  box-shadow: 0 0 0 3px #ABB7FF;
}

.main-image {
  width: 90%;
}

.buzzer {
  height: 10em;
  font-size: 2em;
  background-color: rgb(243, 175, 185);
  color: rgb(18, 30, 102);
}
.buzzer:focus {
  box-shadow: 0 0 0 3px #ABB7FF;
}
.buzzer:hover,
.buzzer:active {
  background-color: #ff0228;
}

.secondary {
  background-color: #d8d8d8;
  color: rgb(16, 21, 78);
}

.secondary:hover {
  background-color: rgb(191 191 191);
}


.buzzer {
background: #e97284;
border-radius: 50%;
margin: 10px;

box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
transform: scale(1);
animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

body {
  background: #fff;
}

body .btncontainer {
  position: relative;
  display: block;
  width: 400px;
  height: 400px;
}

body .center {
  left: 50%;
  top: 50%;
  position: absolute;
  margin-left: -100px;
  margin-top: -100px;
}
.buzzer {
  width: 200px;
  height: 180px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  background-image: -moz-gradient(linear, left top, left bottom, color-stop(0%, #f74d4d), color-stop(100%, #f86569));
  box-shadow: inset -2px 2px 2px 0px #ef9393, inset 2px -2px 2px 0px rgb(113 17 17 / 30%), inset 0px 0px 40px 15px #de2424, 1px 1px 0 0 #d32020, 2px 2px 0 0 #c61e1e, 3px 3px 0 0 #b81c1c, 4px 4px 0 0 #ab1a1a, 5px 5px 0 0 #9e1818, 6px 6px 0 0 #901616, 7px 7px 0 0 #881414, 8px 8px 0 0 #831414, 9px 9px 0 0 #7f1313, 10px 10px 0 0 #7a1212, 11px 11px 0 0 #761212, 12px 12px 0 0 #711111, 13px 13px 0 0 #711111, 14px 14px 0 0 #711111, 15px 15px 0 0 #711111, 16px 16px 0 0 #711111, 17px 17px 0 0 #711111, 18px 18px 0 0 #711111, 19px 19px 0 0 #711111, 20px 20px 0 0 #711111, 19px 21px 1pc 1px rgb(113 17 17 / 10%), 18px 22px 1px 1px rgb(113 17 17 / 10%), 17px 23px 1px 1px rgb(113 17 17 / 10%), 16px 24px 1px 1px rgb(113 17 17 / 10%), 15px 25px 1px 1px rgb(113 17 17 / 10%), 14px 26px 2px 1px rgb(113 17 17 / 10%), 13px 27px 3px 1px rgb(113 17 17 / 10%), 12px 28px 4px 1px rgb(113 17 17 / 10%), 11px 29px 5px 1px rgb(113 17 17 / 10%), 10px 30px 6px 1px rgb(113 17 17 / 10%), 9px 31px 7px 1px rgb(113 17 17 / 10%), 20px 20px 4px 1px #711111;
  transition: all 0.3s ease;
}
.buzzer:active {
  box-shadow: 0 0 #e24f4f;
  -webkit-transform: translate(0px, 15px);
  -moz-transform: translate(0px, 15px);
  -ms-transform: translate(0px, 15px);
  -o-transform: translate(0px, 15px);
  -webkit-transition: 0.1s all ease-out;
  -moz-transition: 0.1s all ease-out;
  -ms-transition: 0.1s all ease-out;
  -o-transition: 0.1s all ease-out;
  transition: 0.1s all ease-out;
  background: #e55050;
  border-radius: 50px;
  box-shadow: inset -2px 2px 2px 0px #ef9393, inset 2px -2px 2px 0px rgb(113 17 17 / 30%), inset 0px 0px 40px 15px #de2424, 1px 1px 0 0 #d32020, 2px 2px 0 0 #c61e1e, 3px 3px 0 0 #b81c1c, 4px 4px 0 0 #ab1a1a, 5px 5px 0 0 #9e1818, 6px 6px 0 0 #901616, 7px 7px 0 0 #881414, 8px 8px 0 0 #831414, 9px 9px 0 0 #7f1313, 10px 10px 0 0 #7a1212, 11px 11px 0 0 #761212, 12px 12px 0 0 #711111, 13px 13px 0 0 #711111, 14px 14px 0 0 #711111, 15px 15px 0 0 #711111, 16px 16px 0 0 #711111, 17px 17px 0 0 #711111, 18px 18px 0 0 #711111, 19px 19px 0 0 #711111, 20px 20px 0 0 #711111, 19px 21px 1pc 1px rgb(113 17 17 / 10%), 18px 22px 1px 1px rgb(113 17 17 / 10%), 17px 23px 1px 1px rgb(113 17 17 / 10%), 16px 24px 1px 1px rgb(113 17 17 / 10%), 15px 25px 1px 1px rgb(113 17 17 / 10%), 14px 26px 2px 1px rgb(113 17 17 / 10%), 13px 27px 3px 1px rgb(113 17 17 / 10%), 12px 28px 4px 1px rgb(113 17 17 / 10%), 11px 29px 5px 1px rgb(113 17 17 / 10%), 10px 30px 6px 1px rgb(113 17 17 / 10%), 9px 31px 7px 1px rgb(113 17 17 / 10%), 20px 20px 4px 1px #711111;
  transition: all 0.3s ease;
}


